@font-face {
    font-family: 'Wagner';
    src: url('/fonts/NT\ Wagner.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100%;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Roboto Mono', monospace;
}
header{
    width: 100%;
}
/* ----------------------------- style tab menu ----------------------------- */
h1, h2{
    font-family: 'Wagner', sans-serif;
}
.tab_button {
  width: 100%;
  color: #555;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  /* color: white; */
}
.tab_button:hover {
  background-color: #777;
}

.cross_course_project,
.cross_corse_tab {
  
  background-color: #B8D2D8;
}

.cross_course_project,
.semester_project,
.project_exam_1 {
  width: 100%;

  min-height: 100vh;
  padding: 100px 20px;
}
.content h2{
    text-align: center;
}
ul{
  display: flex;
  /* margin: auto; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: center;
  list-style: none;
}
li{
  padding: 20px 10px;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
  }
  .content{
      max-width: 700px;
      margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
    .content{
        max-width: 1000px;
        margin: auto;
    }
}
