@font-face {
    font-family: 'Wagner';
    src: url('/fonts/NT\ Wagner.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100%;
  font-family: 'aktiv-grotesk','aktiv-grotesk-extended','Helvetica Neue',Helvetica,Arial,sans-serif;
}
header{
    width: 100%;
}
/* ----------------------------- style tab menu ----------------------------- */
h1, h2{
    font-family: 'Wagner', sans-serif;
}
.tab_button {
  width: 100%;
  /* color: #555; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}
.tab_button:hover {
  background-color: #777;
}

.cross_course_project,
.cross_corse_tab {
  
  background-color: #B8D2D8;
}

.cross_course_project,
.semester_project,
.project_exam_1 {
  width: 100%;

  min-height: 100vh;
  padding: 100px 20px;
}
.content h2{
    text-align: center;
    
}
ul{
  display: flex;
  /* margin: auto; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: center;
  list-style: none;
}
li{
  padding: 20px 10px;
}
.content{
  padding: 10px;
}
.tab_button .project_exam_tab{
  color: #852017;
  font-weight: bolder;
}
.project_exam_1 h2{
  color: #852017;
}
.project_exam_1 p {
  color: #852017;
}
.project_exam_1 .a_link{
  display: block;
    padding-bottom: 32px;
}
.a_link_border{
  margin: 0 32px;
  padding: 16px 24px 20px 32px;
  background-color: #f9d5c5;
  border: 1px solid #852017;
  box-shadow: 8px 8px 0 #852017;
}
.a_link_border:hover{
  margin: 0 32px;
  padding: 16px 24px 20px 32px;
  background-color: #f9d5c5;
  border: 1px solid #852017;
  box-shadow: 8px 8px 0 #F9E6DE;
}
.project_exam_1 a{
  text-decoration: none;
  color: #852017;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
  }
  .content p{
      width: 700px;
      margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
    .content{
        width: 900px;
        margin: auto;
    }
}
